#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  display: flex;
  flex-direction: column;
}

.contact {
  cursor: pointer;
}

td {
  border: 8px solid red;
}

thead {
  margin: 0 auto;
}

button {
  margin-top: 5%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


